<div class=" mb-3  mx-0" style="background: rgba(255, 255, 255, 0.651); padding: 15px 0 10px 0; margin-top: -1.75vh; ">
    <a class="text-muted h6 px-2" [routerLink]="['/Dashboard']">Dashboard</a>
    <a class="text-muted h6 px-0" style="text-decoration: none;margin:0 10px">/</a>
    <a class="text-dark  h6 px-2 " [routerLink]="['/PostSite']" style="text-decoration: none;">Post-Site</a>
    <a class="text-muted h6 px-0" style="text-decoration: none;margin:0 10px">/</a>
    <a class="text-dark font-weight-bold h6 px-2 " style="text-decoration: none;">New Post-Site</a>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">New Post-Site</p>
                </div>
                <div class="card-body">
                    <form [formGroup]="New" ngNativeValidate (ngSubmit)="submit()">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label for="Client"><strong>Client</strong></label>
                                    <select class="form-control" formControlName="ClientName" autofocus>

                                        <option [value]="country.id" *ngFor="let country of clientD">
                                            {{country.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label for="PostSite"><strong>Post Site</strong></label><input
                                        class="form-control" type="text" placeholder="Location" required
                                        formControlName="PostSite">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label for="Contact Name"><strong>Contact
                                            Name</strong></label><input class="form-control" type="text"
                                        placeholder="Contact Name" required formControlName="ContactName"></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label for="Mobile Number"><strong>Mobile
                                            Number</strong></label><input class="form-control" type="text"
                                        placeholder="5555-5555" required formControlName="MobileNum"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label for="Mobile Number"><strong>Phone
                                            Number</strong></label><input class="form-control" type="text"
                                        placeholder="5555-5555" required formControlName="PhoneNum"></div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label for="Mobile Number"><strong>Fax
                                        </strong></label><input class="form-control" type="text" placeholder="5555-5555"
                                        required formControlName="faxNum"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">

                                <div class="form-group"><label for="Email"><strong>Email Address</strong></label><input
                                        class="form-control" type="email" placeholder="user@example.com" required
                                        formControlName="ClientEmail">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Category"><strong>Category
                                    </strong></label>
                                <input class="form-control" list="clientD" placeholder="Select" required
                                    formControlName="Category">
                                <datalist id="clientD">
                                    <option *ngFor="let gua of clientD" [value]="gua.Name">
                                        {{gua.id}}
                                    </option>
                                </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col">
                                <div class="form-group">
                                    <label for="address"><strong>Address</strong></label><input class="form-control"
                                        type="text" placeholder="Address" required formControlName="ClientAddress">
                                </div>
                            </div>
                            <div class="col-2 mt-4 pt-2">
                                <mat-slide-toggle [(ngModel)]="isChecked" [color]="color"
                                    [ngModelOptions]="{standalone: true}">
                                    Add coordinate
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="isChecked">
                            <fieldset class="scheduler-border d-flex flex-row row">
                                <legend class="scheduler-border">Coordinate</legend>


                                <label for="Lat" class="mt-2 mr-4"><strong>Latitude</strong></label><input
                                    class="form-control col-4" type="text" placeholder="Latitude" required
                                    [ngClass]="this.clientObject.Latitude == '' ? 'is-invalid' : 'is-valid'"
                                    [(ngModel)]="this.clientObject.Latitude" [ngModelOptions]="{standalone: true}">
                                <div class="col-lg-2 col-md-0 col-sm-0"></div>
                                <label for="Long" class="mt-2 mr-4"><strong>Longitude</strong></label><input
                                    class="form-control col-4" type="text" placeholder="Longitude" required
                                    [(ngModel)]="this.clientObject.Longitude" [ngModelOptions]="{standalone: true}">
                            </fieldset>
                        </div>
                        <div id="map" class="col-12 " [ngClass]="isChecked ? '' : 'd-none'"></div>


                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="submit" *ngIf="!loading">Submit</button>
                            <div class="spinner-border text-primary" role="status" *ngIf="loading">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>