<div class=" mb-3  mx-0" style="background: rgba(255, 255, 255, 0.651); padding: 15px 0 10px 0; margin-top: -1.75vh; ">
    <a class="text-muted h6 px-2" [routerLink]="['/Dashboard']">Dashboard</a>
    <a class="text-muted h6 px-0" style="text-decoration: none;margin:0 10px">/</a>
    <a class="text-muted h6 px-2 " [routerLink]="['/Invoicer']">Invoicer</a>
    <a class="text-muted h6 px-0" style="text-decoration: none;margin:0 10px">/</a>
    <a class="text-dark font-weight-bold h6 px-2 " style="text-decoration: none;">New Invoice</a>
</div>

<div class="container">
    <div class="row">
        <!-- BEGIN INVOICE -->
        <div class="col-md-12">
            <div class="grid invoice">
                <div class="grid-body" id="print">
                    <div class="invoice-title">
                        <div class="row">
                            <div class="col-md-3">

                                <img src="../../../assets/SoteriaLogo.png" alt="" height="60px">

                            </div>
                            <div class="col-6"></div>
                            <div class="col-md-2 pt-2 pl-4">

                                <div class="input-container"><input type="text" placeholder="Invoice Title *"
                                        [(ngModel)]="invoice.Title" required style="border:none" />
                                </div>
                                <div class="input-container"><input type="text" placeholder="Summary"
                                        [(ngModel)]="invoice.Summary" style="border:none" />
                                </div>

                            </div>
                        </div>


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>Billed To:</strong><br>
                                <select class="form-control" required>
                                    <option selected disabled>Choose Client</option>
                                    <option [value]="country.id" *ngFor="let country of clientD">
                                        {{country.Name}}
                                    </option>
                                </select>
                                <br>
                                <select class="form-control" required>
                                    <option selected disabled>Choose Post-Site</option>
                                    <option [value]="country.id" *ngFor="let country of clientD">
                                        {{country.Name}}
                                    </option>
                                </select>
                            </address>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="">
                                <strong>Invoice Number</strong><br>
                                <input class="form-control" type="text" required>
                            </div>
                            <div class="">
                                <strong>Invoice Date:</strong><br>
                                <input class="form-control" type="date" required>
                            </div>
                            <div class="">
                                <strong>Payment Due:</strong><br>
                                <input class="form-control" type="date" required>
                            </div>

                        </div>

                        <div class="row" style="margin-left: 3vw;">
                            <div class="col-md-12">
                                <h3>ORDER SUMMARY</h3>
                                <table class="table table-striped  " style=" width: 33vw;">
                                    <thead>
                                        <tr class="line">
                                            <td><strong>#</strong></td>
                                            <td class="text-center"><strong>Service</strong></td>
                                            <td class="text-center"><strong>Hours</strong></td>
                                            <td class="text-right"><strong>Rate/Hour </strong></td>
                                            <td class="text-right"><strong>Amount</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><strong>Template Design</strong><br></td>
                                            <td class="text-center">15</td>
                                            <td class="text-center">$75</td>
                                            <td class="text-right">$1,125.00</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><strong>Template Development</strong><br></td>
                                            <td class="text-center">15</td>
                                            <td class="text-center">$75</td>
                                            <td class="text-right">$1,125.00</td>
                                        </tr>
                                        <tr class="line">
                                            <td>3</td>
                                            <td><strong>Testing</strong><br></td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">$75</td>
                                            <td class="text-right">$150.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right"><strong>Taxes</strong></td>
                                            <td class="text-right"><strong>N/A</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                            </td>
                                            <td class="text-right"><strong>Total</strong></td>
                                            <td class="text-right"><strong>$2,400.00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <textarea style="width: 40vw;" class="form-control" placeholder="Note..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="download">PDF</button>
            </div>
            <!-- END INVOICE -->
        </div>
    </div>