<div class="card mat-elevation-z3" >
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col no-gutter">
                <div class="text-uppercase row">

                    <span class="col-8 pt-1 text-muted" style="font-size: 10px;">{{title}}</span>
                    <div class="col-4 text-right"><i class="fa fa-{{icon}} fa-2x " style="color:#47c5ff"></i>
                    </div>
                </div>
                <hr />
                <div class="text-muted h3 text-center " [ngClass]="sub ? 'py-2' : 'py-3'"><span>{{number}}</span></div>
                <div class="text-muted text-center "><span>{{title}}{{subtitle}}</span></div>
                <div class="text-muted text-center" style="font-size:small ;"><span>{{sub}}</span>
                </div>

            </div>
        </div>
    </div>
</div>