@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
h1{
  padding-top: 22.9px;
  padding-bottom: 14.9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #47c5ff;
  font-family: 'Rancho', cursive;
  letter-spacing: 12px;
}
.hide{
  margin-left: -210px;
}
a {text-decoration: none;}
.wrapper {
  width: 100%;
  min-height: 100vh;
  margin-top: -70px;
 }

#sidebar {
  border-right:  solid 1px rgba(189, 189, 189, 0.637);
  min-width: 210px;
  max-width: 210px;
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }

  #sidebar.active {
    margin-left: -270px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px; }

    #sidebar h1 .logo {
      color: #fff; }
      #sidebar ul  {
       margin-top: -19.5px; }
      
        #sidebar ul li {
          width: 210px;
          height: 53px;
          font-size: 14.5px;
          font-weight: 500;
        padding-bottom: 3px;
        display: flex;
  align-items: center; }
  

        #sidebar ul li a span {
          padding-left:40px ; 
          padding-right:0px ;
        width: 60px; }

          #sidebar ul li:hover {
            background: rgba(218, 216, 216, 0.26); }

 


    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: #000;
   }

      #sidebar ul li a span {
        color: #000; }
      #sidebar ul li:hover a{
        color: tomato;
    }
    #sidebar ul li:hover a span{
      color: tomato;
  }
    #sidebar ul li.active > a span,  #sidebar ul li.active > a  {
      background: transparent;
      color: #47c5ff; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -210px; }
      #sidebar.active {
        margin-left: 0; } }


  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 0;
    margin-right: -35px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

    #sidebar .custom-menu .ham {
      margin-top: 20px;
      font-size: 25px;
    }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }


      



.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

