
.mat-button-toggle-group{ 
  width: 50%;
}
  
.mat-button-toggle{
  background-color: white; width: 100%; 
  color: black;
}
.mat-button-toggle-checked{
  background-color: #47c5ff!important;
  color: white;
}
table {
  margin-top: 10px;
  width: 100%;
}
::ng-deep .mat-header-cell {
text-align: center!important;
}
th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  border-left: 1px solid rgba(158, 158, 158, 0.63);
}
#map{
  height: 600px;
  width: 1100px;
}
