<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-3">
        <h3 class="text-muted mb-0">Dashboard</h3>
        <button mat-raised-button class="btn-primary" title="Generate Report"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate
            Report</button>
    </div>
    <div class="row">
        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Clients']">
            <app-card title="Client" icon="user" number="2"></app-card>
        </a>

        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Guards']">
            <app-card title="Guards" icon="user-secret" number="3"></app-card>
        </a>

        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4"  [routerLink]="['/PostSite']">
            <app-card title="Posts Sites" icon="building-o" number="4"></app-card>
        </a>

        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Dispatcher']" >
            <app-card title="Dispatch" icon="exclamation" number="5"></app-card>
        </a>

        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Incident" icon="exclamation-triangle" number="6"></app-card>
        </a>

        <a class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Message" icon="envelope" number="7"></app-card>
        </a>

    </div>

    <div class="row">

        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Clocked-In" icon="clock-o" number="7" subtitle="Guard" sub="(Today)"></app-card>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Unconfirm " icon="calendar" number="7" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="No Show" icon="calendar" number="7" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Late Show" icon="calendar" number="7" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Idle Alerts" icon="signal" number="7" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Reports" icon="line-chart" number="7" sub="(Last 7 days)"></app-card>
        </div>


    </div>
