<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-3">
        <h3 class="text-muted mb-0">Dashboard</h3>
  
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4 text-center">
        <button mat-raised-button class="btn-primary "
         title="Add New Client"><i class="fas fa-download fa-sm text-white-50"[routerLink]="['/Clients/New-client']"></i>&nbsp;Add New Client</button>
        </div>        
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4 text-center">

         <button mat-raised-button class="btn-primary"
         title="Add New Client"><i class="fas fa-download fa-sm text-white-50"[routerLink]="['PostSite/New-PostSite']"></i>&nbsp;Add New Post Site</button>
        </div>        
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4 text-center">
         <button mat-raised-button class="btn-primary"
         title="Add New Client"><i class="fas fa-download fa-sm text-white-50"[routerLink]="['Guards/New-guard']"></i>&nbsp;Add New Guard</button>
        </div>        
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4 text-center">
         <button mat-raised-button class="btn-primary"
         title="Add New Client"><i class="fas fa-download fa-sm text-white-50"[routerLink]="['Invoicer/New-invoice']"></i>&nbsp;Add New Invoice</button>
        </div>




    </div>

    <div class="row">
        <a class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Clients']">
            <app-card title="Client" icon="user" number={{CountClient}}></app-card>
        </a>
        
        <a class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4"  [routerLink]="['/PostSite']">
            <app-card title="Posts Sites" icon="building-o" number={{CountPostSite}}></app-card>
        </a>
        
        <a class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Guards']">
            <app-card title="Guards" icon="user-secret" number={{CountGuard}}></app-card>
        </a>

        <a class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Invoicer']" >
            <app-card title="Invoice" icon="money" number={{CountInvoice}}></app-card>
        </a>





    </div>

    <div class="row">


        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Unconfirm " icon="calendar" number="0" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="No Show" icon="calendar" number="0" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4">
            <app-card title="Late Show" icon="calendar" number="0" subtitle="Shift" sub="(Last 7 days)"></app-card>
        </div>

        <a class="col-xl-3 col-lg-6 col-md-12 col-sm-12 mb-4" [routerLink]="['/Dispatcher']">
            <app-card title="Dispatch" icon="exclamation" number={{CountDispatch}}></app-card>
        </a>

    </div>
