<div class="container">
    <div class="forms-container">
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign upaa
                    </button>
                </div>
                <img src="../../assets/img/register.svg" class="image" alt="" />
            </div>

        </div>
    </div>

    <script src="app.js"></script>